[Unit]
Description=SEMPRE-based Natural Language Tokenizer for Almond

[Service]
WorkingDirectory=/opt/almond-tokenizer
ExecStart=/opt/almond-tokenizer/run.sh
StandardInput=socket
StandardOutput=journal

PrivateDevices=true
ProtectHome=true
ProtectSystem=full
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target

